body {
  background-color: rgb(255, 255, 255);
  font: normal 1em/1.60 OpenSans-light;
  color: rgb(0, 0, 0);
}

.load_animation {
  position: fixed;
}

.verify_animation {
  position: fixed;
  left: 200px;
}

.validate_animation {
  position: fixed;
  left: 400px;
}

.backbox {
  position: absolute;
  top: 200px;
  left:200px;
  width: 140px;
}

.frontbox {
  position: absolute;
  top: 239px;
  left:189px;
  width: 151px;
}

.loaditem {
  position: absolute;
  top: 130px;
  left:220px;
  width: 100px;
  /* Chrome, Safari, Opera */
  -webkit-animation-name: loading;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes loading {
    0%   {opacity:0;  top:130px;}
    20%   {opacity:1; top:130px;}
    80%   {opacity:1; top:210px;}
    100%  {opacity:0; top:240px;}
}


.verify_canvas {
  position: absolute;
  top: 200px;
  left:200px;
  width: 122px;
}

.verify_element1 {
  position: absolute;
  top: 230px;
  left:200px;
  width: 31px;
  /* Chrome, Safari, Opera */
  -webkit-animation-name: el1;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
}

.verify_element2 {
  position: absolute;
  top: 230px;
  left:231px;
  width: 30px;
  /* Chrome, Safari, Opera */
  -webkit-animation-name: el2;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
}

.verify_element3 {
  position: absolute;
  top: 230px;
  left:261px;
  width: 30px;
  /* Chrome, Safari, Opera */
  -webkit-animation-name: el3;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
}

.verify_element4 {
  position: absolute;
  top: 229px;
  left:291px;
  width: 31px;
  /* Chrome, Safari, Opera */
  -webkit-animation-name: el4;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes el1 {
    0%   {opacity:0;}
    20%   {opacity:1;}
    40%   {opacity:1;}
    60%   {opacity:1;}
    80%  {opacity:1;}
    100%  {opacity:0;}
}

@-webkit-keyframes el2 {
  0%   {opacity:0;}
  20%   {opacity:0;}
  40%   {opacity:1;}
  60%   {opacity:1;}
  80%  {opacity:1;}
  100%  {opacity:0;}
}

@-webkit-keyframes el3 {
  0%   {opacity:0;}
  20%   {opacity:0;}
  40%   {opacity:0;}
  60%   {opacity:1;}
  80%  {opacity:1;}
  100%  {opacity:0;}
}

@-webkit-keyframes el4 {
  0%   {opacity:0;}
  20%   {opacity:0;}
  40%   {opacity:0;}
  60%   {opacity:0;}
  80%  {opacity:1;}
  100%  {opacity:0;}
}


.validate_back1 {
  position: absolute;
  top: 200px;
  left:200px;
  width: 130px;
}

.validate_back2 {
  position: absolute;
  top: 227px;
  left:240px;
  width: 50px;
}

.validate_element1 {
  position: absolute;
  top: 130px;
  left:200px;
  width: 50px;
  /* Chrome, Safari, Opera */
  -webkit-animation-name: validate1;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
}

.validate_element2 {
  position: absolute;
  top: 130px;
  left:279px;
  width: 51px;
  /* Chrome, Safari, Opera */
  -webkit-animation-name: validate2;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes validate1 {
    0%   {opacity:0;  top:130px;}
    20%   {opacity:1; top:130px;}
    50%   {opacity:1; top:250px;}
    100%  {opacity:0; top:250px;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes validate2 {
    0%   {opacity:0;  top:130px;}
    20%   {opacity:1; top:130px;}
    70%   {opacity:1; top:200px;}
    100%  {opacity:0; top:200px;}
}

.preload_animation {
  position: fixed;
  left: 700px;
}

.city_back {
  position: absolute;
  top: 200px;
  left:200px;
  width: 350px;
}

.rectangle_box_back {
  position: absolute;
  top: 281px;
  left:325px;
  width: 98px;
}

.box_front {
  position: absolute;
  top: 298px;
  left:345px;
  width: 60px;
}

.teal_box {
  position: absolute;
  top: 298px;
  left:350px;
  width: 30px;
  /* Chrome, Safari, Opera */
  -webkit-animation-name: preload_bulk;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
}

.teal_box22 {
  position: absolute;
  top: 298px;
  left:375px;
  width: 20px;
  /* Chrome, Safari, Opera */
  -webkit-animation-name: preload_bulk_h;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
}

.cloud_overlay {
  position: absolute;
  top: 205px;
  left:333px;
  width: 70px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes preload_bulk {
    0%   {opacity:0;  top:298px;}
    20%   {opacity:1; top:260px;}
    70%   {opacity:1; top:220px;}
    100%  {opacity:0; top:220px;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes preload_bulk_h {
    0%   {opacity:0;  top:298px;}
    20%   {opacity:1; top:260px;}
    70%   {opacity:1; top:225px;}
    100%  {opacity:0; top:225px;}
}
